/*  Imports polices
  ------------------------------------------------------------------------------------------  */
/*@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,900&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display = swap');

/*  Fin Imports polices
------------------------------------------------------------------------------------------  */

body {
  text-align: center;
  margin: 0px;
}

.fond {
  background: url("../images/fond_mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.blocLogo {
  background-color: white;
  width: 100%;
  /* margin: 0px auto; */
  padding: 10px;
  position: fixed;
  top: 41px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nbreEspeces {
  background-color: white;
  width: fit-content;
  margin: 0px auto;
  padding: 12px;
  border-radius: 5px;
  margin-top: 20px;
}

.blanc {
  color: white;
}

.content {
  position: absolute;
  left: 50%;
  /* margin-top: 5rem; */
  transform: translateX(-50%);
  width: 95%;
  top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas+Neue', serif;
}

.titreFdBlanc {
  margin-top: 10px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 10px;
  margin-bottom: 8px;
}

h4 {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 0.7;
  color: grey;
  margin-top: 0px;
  margin-bottom: 13px;
}

h5 {
  font-size: 1.2em;
  font-weight: 200;
  /* margin-top: 1em; */
  margin-top: 0em;
  margin-bottom: 1em;
  font-weight: bold;
}

legend {
  margin-bottom: 10px;
  font-style: italic;
  word-wrap: break-word;
}

section {
  /* margin-bottom: 20px; */
  /* margin-top: 40px; */
}

.fermeture {
  padding: 6px;
  text-align: center;
  margin-bottom: 0px;
}

.notice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noticeImg {
  height: 180px;
}

.obs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.linkMail {
  color: white;
}

.vues {
  background-color: #d3d3d3;
}

.Majeur {
  background-color: #ce4257;
}

.TresFort {
  background-color: #fb8500;
}

.Fort {
  background-color: #ffba08;
}

.Notable {
  background-color: #f4d58d;
}

.Modere {
  background-color: #a3b18a;
}

.NonApplicable,
.NonEvaluee {
  background-color: #8ecae6;
}

.Autre {
  background-color: #cae9ff;
}

.Null {
  background-color: #cae9ff;
}

.txtMajeur {
  color: white;
}

.txtTresFort,
.txtFort,
.txtNotable,
.txtModere,
.txtNonApplicable,
.txtNonEvaluee,
.txtAutre,
.txtNull {
  color: rgb(0, 0, 0);
}

.linkBloc {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 10px;
}

.link {
  width: 30px;
  margin-right: 2px;
}

.linkB {
  text-align: left;
  border-style: none;
  background-color: white;
  padding: 0px;
  color: #379194;
  font-size: 0.95em;
}

.menaceBloc {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.menace {
  width: 30px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.menacext {
  font-size: 1.2em;
  padding: 2px 5px 2px 5px;
}

.EX {
  background-color: #000000;
  color: white;
}

.EW {
  background-color: #000000;
  color: white;
}

.CR {
  background-color: #cc3233;
  color: white;
}

.EN {
  background-color: #cc6632;
  color: white;
}

.VU {
  background-color: #cc9902;
  color: white;
}

.NT {
  background-color: #006666;
  color: white;
}

.LC {
  background-color: #006666;
  color: white;
}

.CD {
  background-color: #006666;
  color: white;
}

.txtFiche {
  text-align: center;
  padding-bottom: 27px;
  font-size: 1.2em;
  position: absolute;
  z-index: 1;
  overflow: visible;
  font-family: 'Roboto', serif;
}

.pictoFiche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fiche {
  display: flex;
  justify-content: space-around;
}



.margeTop {
  margin-top: 8px;
}

mark {
  /* padding-left: 10px;
  padding-right: 10px; */
  background-color: rgb(255, 255, 255);
  font-size: 1.1em;
  line-height: 1.15em;
  border: 1px solid white;
}

.form {
  background-color: #ffffff8c;
  padding-block: 10px;
  border-radius: 10px;
}

p {
  font-size: 1em;
}

.pattern-dots-sm {
  background-image: radial-gradient(currentColor 0.5px, #cddc39 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
}

.filetTitre {
  border-left: 1px solid;
  margin: 0px 5px 0px 9px;
  border-color: black;
  padding-left: 10px;
}

.visu {
  width: 97%;
  height: 220px;
  z-index: 0;
  background-size: cover;
  background-position: 50% 0%;
  object-fit: cover;
  border-radius: 0px 20px 0px 20px;
}

.picto {
  width: 50px;
  height: 60px;
  /* border-radius: 50%; */
  z-index: 0;
  background-size: cover;
  background-position: 50% 0%;
  object-fit: cover;
}

.container {
  column-count: 2;
  /* padding-left: 30px;
    padding-right: 30px; */
  /* column-rule-style: dotted; */
  /* word-wrap: break-word; */
}

.textPlus {
  padding-left: 30px;
  padding-right: 30px;
}

hr {
  border-top: 1px dotted;
  border-color: black;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 80%;
}

p {
  font-family: 'Roboto', serif;
  margin-top: 0px;
  margin-bottom: 5px;
}

.avSource {
  line-height: 22px;
  color: black;
  background-color: #ffffff6e;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  /* width: 80%; */
  margin: 0px auto 30px;
}

/*  Formulaire ------------------------------------------------------------------------------  */
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 2px solid rgb(60, 57, 57); */
  color: #262424cc;
}

input[type="search"] {
  font-size: 1.2rem;
  width: 300px;
  height: 35px;
  background-color: #d6d6d6;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 5px auto;
  padding: 2px 5px 0px 5px;
  color: rgb(0, 0, 0);
  text-align: center;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  height: 25px;
  width: 25px;
  margin-bottom: 2px;
  background-size: cover;
  opacity: 0.5;
  background-image: url('../images/remove_black.png');
}

/*  Fin Formulaire ------------------------------------------------------------------------------  */

/* Carte localisation */
.map {
  margin: 0px auto;
  display: block;
  background-color: #ffffff3d;
  /* border: solid 1px white; */
  border-radius: 10px;
  width: max-content;
}

.locTxt {
  font-family: 'Roboto', serif;
  font-size: 14px;
  /* font-weight: bold; */
  fill: black;
}

.locL {
  text-anchor: end;
}

.loc {
  text-anchor: middle;
}

.locR {
  text-anchor: start;
}

/* Fin Carte localisation */

/* Couleur famille */
.redR {
  fill: red;
  stroke: white;
  stroke-width: 3;
}

.bordHaut {
  border-top: 8px solid;
}

.filet {
  border-left: 1px solid;
}

/* .Rhopaloceres,
.Reptiles,
.Oiseaux,
.Amphibiens,
.Autres,
.Chiropteres,
.MammiferesNonVolant,
.Mollusques,
.Odonates,
.Poissons {
  background-color: #f2e8cfff;
} */

.Autres {
  border-color: #386641;
  background-color: #d7e0d9;
}

.Amphibiens {
  border-color: #bc4749;
  background-color: #eee4e4;
}

.Araignees {
  border-color: #9b2226;
  background-color: #fdf0d5;
}

.Chiropteres {
  border-color: #f6aa1c;
  background-color: #eee2cc;
}

.MammiferesNonVolant {
  border-color: #7c6a0a;
  background-color: #e5e1ce;
}

.MammiferesMarins {
  border-color: #005f73;
  background-color: #def7ff;
}

.Mollusques {
  border-color: #084c61;
  background-color: #cedbdf;
}

.Odonates {
  border-color: #86bbd8;
  background-color: #e7f1f7;
}

.Orthopteres {
  border-color: #e63946;
  background-color: #fce7e9;
}

.Poissons {
  border-color: #3e5c76;
  background-color: #d8dee4;
}

.Oiseaux {
  border-color: #007200;
  background-color: #cce3cc;
}

.Reptiles {
  border-color: #70e000;
  background-color: #e2f9cc;
}

.Rhopaloceres {
  border-color: #ffa30e;
  background-color: #f2e8cfff;
}

.Ecrevisses {
  border-color: #c32f27;
  background-color: #f3d5d4;
}

/* Fin couleur famille */

/* Recherche */
.rechercheMob {
  background-image: url(../images/search.png);
}

#recherceDesk {
  display: none;
}

/* Son */
.son,
.carte {
  width: 50px;
  height: 50px;
  background-color: #ffffffb0;
  border: solid 1px #000;
  border-radius: 50%;
  /* margin: 0px auto 10px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.rechercheMob {
  width: 70px;
  height: 70px;
  background-color: #ffffffb0;
  border: solid 1px #000;
  border-radius: 50%;
  margin: 20px auto 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.carte {
  background-image: url(../images/map.png);
}

/* .carteOff {
  background-image: url(../images/sonOn.png);
} */
.sonOn {
  background-image: url(../images/sonOn.png);
}

.sonOff {
  background-image: url(../images/sonOff.png);
}

.sonOn:hover,
.rechercheMob:hover {
  background-color: #ffffff;
  /* color: #6c6a6a; */
}

.d1 {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  /* background-color: #ededed54; */
  background-size: contain;
  animation: fondu 15s ease-in-out infinite both;
}

/* .d1:hover {
  animation-play-state: paused;
} */

@keyframes fondu {
  0% {
    background-image: url("../images/anim/Gif01.png");
  }

  7.7% {
    background-image: url("../images/anim/Gif02.png");
  }

  15.4% {
    background-image: url("../images/anim/Gif03.png");
  }

  23.1% {
    background-image: url("../images/anim/Gif04.png");
  }

  30.8% {
    background-image: url("../images/anim/Gif05.png");
  }

  38.5% {
    background-image: url("../images/anim/Gif06.png");
  }

  46.2% {
    background-image: url("../images/anim/Gif07.png");
  }

  53.9% {
    background-image: url("../images/anim/Gif08.png");
  }

  61.6% {
    background-image: url("../images/anim/Gif09.png");
  }

  69.3% {
    background-image: url("../images/anim/Gif10.png");
  }

  77% {
    background-image: url("../images/anim/Gif11.png");
  }

  84.7% {
    background-image: url("../images/anim/Gif12.png");
  }

  92.4% {
    background-image: url("../images/anim/Gif13.png");
  }

  100% {
    background-image: url("../images/anim/Gif14.png");
  }

}

@media (min-width: 600px) {
  .d1 {
    width: 140px;
    height: 140px;
    margin: 20px auto;
  }

  h1,
  .txtMajeur {
    width: 50%;
    margin: 0px auto;
  }

  mark {
    font-size: 1.2em;
  }

  .fondSource {
    width: 60%;
  }

  .container {
    column-count: 3;
    padding-left: 30px;
    padding-right: 30px;
    /* column-rule-style: dotted; */
    /* word-wrap: break-word; */
  }

  .avSource {
    width: 70%;
  }

  #recherceMob {
    display: none;
  }

  #recherceDesk {
    display: block;
  }

  .recherceDesk {
    margin: 10px auto;
    background-color: #ffffffb0;
    color: black;
    border-radius: 8px;
    height: 34px;
    width: max-content;
    font-size: 15px;
    cursor: pointer;
  }

  .recherceDesk:hover {
    background-color: white;
  }

  .content {
    width: 75%;
  }
}

/* Cards */
.dashboard-cards {
  position: relative;
  /*padding-bottom: 50px;*/
  margin: 0 !important;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.dashboard-cards {
  position: relative;
  padding-bottom: 25px;
  margin: 0 !important;
}

.dashboard-cards .card {
  background: #ffffff;
  display: inline-block;
  perspective: 1000;
  z-index: 20;
  padding: 0 !important;
  margin: 5px 5px 10px 5px;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  width: 360px;
  /*width: calc(33.33333333% - 10px);*/
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard-cards .card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
}

.dashboard-cards .card .card-title {
  /* background: #f1f1f1; */
  padding: 20px 10px;
  position: relative;
  z-index: 0;
}

.dashboard-cards .card .card-title h2 {
  font-size: 25px;
  /*letter-spacing: -0.05em;*/
  margin: 0;
  padding: 0;
}

.dashboard-cards .card .card-title h2 small {
  display: block;
  font-size: 17px;
  margin-top: 8px;
}

.dashboard-cards .card .card-description {
  position: relative;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding: 5px 10px 0 10px;
}

.dashboard-cards .card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px;
  text-align: center;
}

.dashboard-cards .card .card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

.dashboard-cards .card .flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

.dashboard-cards .card .flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

.dashboard-cards.showing .card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.92);
}

.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

.dashboard-cards .card.d-card-show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.dashboard-cards .card.d-card-show .card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}

.dashboard-cards .card.d-card-show .flap1 {
  transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card.d-card-show .flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.dashboard-cards .card .task-count {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 10px;
  background: #ecf0f1;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  color: #333333;
  font-weight: 600;
  transition: all 0.2s ease;
}

.dashboard-cards .task-list {
  padding: 0 !important;
}

.dashboard-cards .task-list li {
  padding: 10px 0;
  padding-left: 10px;
  margin: 3px 0;
  list-style-type: none;
  border-bottom: 1px solid #e9ebed;
  /*border-left: 3px solid #f36525;*/
  transition: all 0.2s ease;
}

.dashboard-cards .task-list li:hover {
  background: #ecf0f1;
  transition: all 0.2s ease;
}

.dashboard-cards .task-list li span {
  float: right;
  color: #f36525;
  margin-right: 5px;
}

.dashboard-cards.showing .card.d-card-show .task-count {
  color: #ffffff;
  background: #f36525;
  transition: all 0.2s ease;
}

.dashboard-cards .card-actions .btn {
  color: #333;
}

.dashboard-cards .card-actions .btn:hover {
  color: #f36525;
}

/*  Accordeon
  ------------------------------------------------------------------------------------------  */
.accordion {
  color: black;
  background-color: #ffffffb0;
  cursor: pointer;
  padding: 9px;
  text-align: center;
  outline: none;
  font-size: 15px;
  line-height: 25px;
  transition: 0.4s;
  border: none;
}

.active,
.accordion:hover {
  background-color: rgb(255, 255, 255);
}

.accordion:after {
  color: #fff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.fondSource {
  border-radius: 10px;
  padding: 18px;
  background-color: #ffffffc7;
  margin: 10px auto;
  /* width: 90%; */
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0px auto 10px;
}

* {
  box-sizing: border-box;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.cRetour {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  line-height: 42px;
  font-size: 43px;
  text-align: center;
  color: #ffffffd5;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  z-index: 99999;
  transition: all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 1em;
  right: 20px;
  display: none;
}

.cRetour:before {
  content: "\25b2";
}

.cRetour:hover {
  background: rgba(0, 0, 0, 1);
  transition: all ease-in 0.2s;
}